.SearchBar {
  display: flex;
  margin-bottom: 20px;

  align-items: center;
  justify-content: center;
}

.SearchBar .input-btn-container {
  border: 2px solid rgb(103, 122, 246);
  border-radius: 5px;
  display: flex;
  width: 300px;
  padding: 0;
  transition: all 0.2s;
}

/* input이 focus되면 부모 div 강조 */
.SearchBar .input-btn-container:focus-within {
  border-color: rgb(140, 92, 245); /* 포커스 시 테두리 색 변경 */
  box-shadow: 0 0 5px rgb(173, 141, 242);
}

.SearchBar input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none; /* input 기본 outline 제거 */
}

.SearchBar button {
  border: none;
  background-color: rgb(103, 122, 246);
  color: white;
  padding: 0 15px;
  cursor: pointer;
}

.SearchBar > input:focus {
  border: 2px solid rgb(103, 122, 246);
  outline: none;
}
.SearchBar button {
  border: none;
  background-color: rgb(103, 122, 246);
}
